body {
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	background: url('../img/lisboa.jpg') center center no-repeat;
	background-size: cover;
	background-color: #000;
	
}

img.last {
	left: 0px;
	top: 0px;
	position: absolute;
	width: 15%;
}


.main-container {
	position: relative;
	z-index: 999;
}

img.logo {
	width: 28%;
}

h2.location {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 12px 0px;
	margin-right: 31%;
	margin-left: 31%;
	text-transform: uppercase;
	font-weight: 100;
}

h1.date {
	font-weight: 100;
	font-size: 30px;
}

p.info {
	font-size: 17px;
	width: 45%;
	padding-left: 28%;
	line-height: 180%;
	margin-top: 5%;
	margin-bottom: 5%;
}

p.tagline {
	font-size: 13px;
	width: 90%;
	padding-left: 5%;
	font-weight: 400;
}

p.event {
	font-size: 12px;
	margin-top: 50px;
	text-align: center;
}

a.call_to_action {
	background: #E8455B;
	text-decoration: none;
	padding: 10px 40px;
	color: white;
	text-transform: uppercase;
}

a.call_to_action:hover {
	background: none;
	border: 1px solid #fff;
	color: #fff;
}

a.link {
	color: #E8455B;
	text-decoration: none;
	font-weight: 700;
}

a.rupeal {
	color: #fff;
	text-decoration: none;
	
}

a.merge {
	color: #E8455B;
	font-weight: 400;
}
/*media queries*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	
	img.logo {
		width: 20%;
		margin-top: -2%;
	}

	img.last {
		width: 15%;
}
	h2.location {
		margin-right: 25%;
		margin-left: 25%;
		font-size: 20px;
	}

	body {
		min-height: 768px;
	}


}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	img.logo {
		width: 30%;
		margin-top: 5%;
	}

	img.last {
		width: 20%;
}

	body {
		min-height: 1080px;
	}

	h2.location {
		margin-right: 25%;
		margin-left: 25%;
	}

	p.info {
		margin-bottom: 15%;
		margin-top: 10%;
		width: 65%;
		padding-left: 17%;
	}

}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
	
	img.logo {
		width: 25%;
	}

	img.last {
	
		width: 25%;
}

	h2.location {
		margin-right: 14%;
		margin-left: 14%;
	}

	p.info {
		width: 90%;
		padding-left: 7%;
		line-height: 180%;
		font-size: 17px;
		margin-top: 10%;
		margin-bottom: 10%
	}


}

@media only screen and (width: 320px) {
	h2.location {
	margin-right: 20% !important;
	margin-left: 20% !important;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 480px) {
	
	img.logo {
		width: 35%;
	}

	img.last {
		width: 35%;
}

	p.tagline {
	font-size: 12px;
	width: 90%;
	font-weight: 400;
	padding-left: 5%;
	}
	
	h2.location {
		margin-right: 30%;
		margin-left: 30%;
		font-size: 11px;
	}

	h1.date {
		font-size: 22px;
	}

	p.info {
		margin-bottom: 15%;
		margin-top: 15%;
		padding-left: 1%;
		line-height: 160%;
		font-size: 15px;
		width: 96%;
	}
}
